Adafruit-Blinka==8.15.2
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-requests==1.13.0
adafruit-circuitpython-typing==1.8.3
Adafruit-PlatformDetect==3.40.3
Adafruit-PureIO==1.1.10
backcall==0.2.0
decorator==5.1.1
ipython==7.34.0
jedi==0.18.2
matplotlib-inline==0.1.6
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.37
ptyprocess==0.7.0
pyftdi==0.54.0
Pygments==2.14.0
pyserial==3.5
pyusb==1.2.1
RPi.GPIO==0.7.1
traitlets==5.9.0
typing-extensions==4.5.0
wcwidth==0.2.6
